# output build directory
*target*

# too big files
datasets/*.csv
datasets/*.txt
datasets/testsets

# jupyter notebooks
.ipynb_checkpoints

# vim swap files
*.swp

# model files
*.model

# idea
**/.idea/workspace.xml
*.iws
**/.idea/tasks.xml
**/.idea/modules.xml
**/.idea/libraries/*
